@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper{
    padding: 20px;   
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 50%;
    background-image: linear-gradient(90deg, #00DBDE 0%, #fd6bff 100%);
    
}

.wrapper-inner{
    height: 100%;
    border-radius: 10px;
    background-color: white;
    background-image: url('../Assets/BG.svg');
    background-size:cover;
    background-repeat: no-repeat;
    overflow: hidden;

    overflow-y: scroll;

}

.element{
    z-index: 5;
    position: relative;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    /* height : px */
}

.moving-image{
    /* display: none; */
    /* position:absolute; */
    width: 99%;
    overflow: hidden;
    z-index: -1;
    top: 0;
    scale : 135%;
    margin-top: -11.7vw;
    
}

