.big{
    font-size: larger;
/* align-items: center; */
}

.middlecontent{
    display: flex;
    flex-direction: column;
    margin-left : 50px
    /* text-align: center; */
    /* justify-content: center; */
}